@use 'sass:map';

$breakpoints: (
  mobile          : $breakpoint-mobile,
  phablet         : $breakpoint-phablet,
  tablet          : $breakpoint-tablet,
  tablet-landscape: $breakpoint-tablet-landscape,
  laptop          : $breakpoint-laptop,
  desktop         : $breakpoint-desktop,
  hd              : $breakpoint-hd,
  2k              : $breakpoint-2k,
  4k              : $breakpoint-4k,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

/* Number of columns in the grid. */
$grid-columns    : 12 !default;
$grid-row-columns: 6 !default;
$gutters: $spacers !default;

/* Padding between columns. Gets divided in half for the left and right. */
$grid-gutter-width: 24px !default; //24px

/* Point at which the grid un-collapses. */
$grid-breakpoint-collapse: map.get($breakpoints, tablet) !default;


/* Container */
$container-tablet: (
  ($grid-breakpoint-collapse - ($grid-gutter-width * 2)) + $grid-gutter-width
) !default;
